<section class="column left-column">
    <h2>Event Information</h2>
    <img src="/frontend/prototype/css/Spark Logo.png" alt="Event Logo" class="logo-image">
    <p><strong>Name:</strong> Tech Innovation Summit</p>
    <p><strong>Start Date:</strong> 2025-06-15 10:00 AM</p>
    <p><strong>Finish Date:</strong> 2025-06-15 06:00 PM</p>
    <p><strong>Location:</strong> Copenhagen Conference Center</p>
    <p><strong>Bio:</strong> An annual event bringing together industry leaders to discuss the future of technology.
    </p>
    <button class="button" onclick="openModal('event-modal')">Edit</button>
  </section>

  <section class="column right-column">
    <h2>Networking Configuration</h2>
    <p><strong>Networking Start Time:</strong> 01:00 PM</p>
    <p><strong>Networking Finish Time:</strong> 04:00 PM</p>
    <p><strong>Networking Session Duration:</strong> 30 minutes</p>
    <p><strong>Meeting Duration:</strong> 10 minutes</p>
    <p><strong>Break Duration:</strong> 5 minutes</p>
    <p><strong>Available Tables:</strong> 20</p>
    <button class="button" onclick="openModal('networking-modal')">Edit</button>
  </section>


 <!--  EDIT EVENT POP UP
  
 <div id="event-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal('event-modal')">&times;</span>
      <h2>Edit Event Information</h2>
      <label>Name: <input type="text" id="edit-event-name"></label><br>
      <label>Start Date: <input type="datetime-local" id="edit-event-start"></label><br>
      <label>Finish Date: <input type="datetime-local" id="edit-event-finish"></label><br>
      <label>Location: <input type="text" id="edit-event-location"></label><br>
      <label>Bio: <textarea id="edit-event-bio"></textarea></label><br>
      <button class="button" onclick="saveEventData()">Save</button>
    </div>
  </div>
  
   Networking Edit Modal
  <div id="networking-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal('networking-modal')">&times;</span>
      <h2>Edit Networking Configuration</h2><br>
      <label>Networking Start Time: <input type="time" id="edit-networking-start"></label><br>
      <label>Networking Finish Time: <input type="time" id="edit-networking-finish"></label><br>
      <label>Networking Session Duration: <input type="number" id="edit-networking-session"></label><br>
      <label>Meeting Duration: <input type="number" id="edit-meeting-duration"></label><br>
      <label>Break Duration: <input type="number" id="edit-break-duration"></label><br>
      <label>Available Tables: <input type="number" id="edit-tables"></label><br>
      <button class="button" onclick="saveNetworkingData()">Save</button>
    </div>
  </div>

-->
