<div class="section-header">
  <div class="left-section">
    <h2>Meeting Schedule</h2>
    <div class="view-toggles">
      <button [class.active]="viewMode === 'time'" (click)="viewMode = 'time'">Time View</button>
      <button [class.active]="viewMode === 'table'" (click)="viewMode = 'table'">Table View</button>
    </div>
  </div>
  <div>
    <button class="main-button" (click)="generateSchedule()">Generate Schedule</button>

  </div>
</div>

<!-- Time View (Tables as rows, Time slots as columns) -->
<div class="time-view-container" *ngIf="viewMode === 'time'">
  <table class="time-view-table">
    <thead>
      <tr>
        <th class="table-header">Tables</th>
        <th *ngFor="let timeSlot of timeSlots" class="time-header">
          {{ timeSlot }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of tables">
        <td class="table-cell">{{ table }}</td>
        <td *ngFor="let timeSlot of timeSlots" class="meeting-cell" [ngClass]="{'has-meeting': meetingsByTableAndTime[table][timeSlot]}">
          <div *ngIf="meetingsByTableAndTime[table][timeSlot]" class="meeting-info">
            <div class="attendees">
              <div class="attendee">
                <span class="attendee-name">{{ meetingsByTableAndTime[table][timeSlot].attendee1.firstName }} {{ meetingsByTableAndTime[table][timeSlot].attendee1.lastName }}</span>
                <span class="attendee-role">{{ meetingsByTableAndTime[table][timeSlot].attendee1.header }}</span>
              </div>
              <div class="attendee-divider">meets</div>
              <div class="attendee attendee2">
                <span class="attendee-name">{{ meetingsByTableAndTime[table][timeSlot].attendee2.firstName }} {{ meetingsByTableAndTime[table][timeSlot].attendee2.lastName }}</span>
                <span class="attendee-role">{{ meetingsByTableAndTime[table][timeSlot].attendee2.header }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="!meetingsByTableAndTime[table][timeSlot]" class="empty-slot">
            Available
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Table View (Time slots as rows, Tables as columns) -->
<div class="time-table-container" *ngIf="viewMode === 'table'">
  <table class="time-table">
    <thead>
      <tr>
        <th class="time-header">Time Slots</th>
        <th *ngFor="let table of tables" class="table-header">{{ table }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timeSlot of timeSlots">
        <td class="time-cell">{{ timeSlot }}</td>
        <td *ngFor="let table of tables" class="meeting-cell" [ngClass]="{'has-meeting': meetingsByTimeAndTable[timeSlot][table]}">
          <div *ngIf="meetingsByTimeAndTable[timeSlot][table]" class="meeting-info">
            <div class="attendees">
              <div class="attendee">
                <span class="name">{{ meetingsByTimeAndTable[timeSlot][table].attendee1.firstName }} {{ meetingsByTimeAndTable[timeSlot][table].attendee1.lastName }}</span>
                <span class="role">{{ meetingsByTimeAndTable[timeSlot][table].attendee1.header }}</span>
              </div>
              <div class="attendee-divider">meets</div>
              <div class="attendee attendee2">
                <span class="name">{{ meetingsByTimeAndTable[timeSlot][table].attendee2.firstName }} {{ meetingsByTimeAndTable[timeSlot][table].attendee2.lastName }}</span>
                <span class="role">{{ meetingsByTimeAndTable[timeSlot][table].attendee2.header }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="!meetingsByTimeAndTable[timeSlot][table]" class="empty-slot">
            Available
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

