<div>
    <div>id: <span>{{this.attendeeId}}</span></div>
    <div>First name: <input type="text" [(ngModel)]="attendee.firstName"></div>
    <div>Last name: <input type="text" [(ngModel)]="attendee.lastName"></div>
    <div>Email: <input type="text" [(ngModel)]="attendee.email"></div>
    <div>Header: <input type="text" [(ngModel)]="attendee.header"></div>
    <div>Bio: <input type="text" [(ngModel)]="attendee.bio"></div>
    <div>Link: <input type="text" [(ngModel)]="attendee.link"></div>
    <div><button (click)="updateAttendee()">Save</button></div>
    <div><button (click)="deleteAttendee()">Delete</button></div>
</div>