<table class="table">
    <thead>
      <tr>
        <th class="id">Attendee ID</th>
        <th class="name">Name</th>
        <th class="email">Email</th>
        <th class="header">Header</th>
        <th class="bio">Bio</th>
        <th class="link">Link</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attendee of attendees">
        <td>{{ attendee.attendeeId }}</td>
        <td>{{ attendee.firstName }} {{ attendee.lastName }}</td>
        <td>{{ attendee.email }}</td>
        <td>{{ attendee.header }}</td>
        <td>{{ attendee.bio }}</td>
        <td><a [href]="attendee.link" target="_blank">{{ attendee.link }}</a></td>
        <td><button (click)="editAttendee(attendee.attendeeId)">Edit</button>
          <button (click)="deleteAttendee(attendee.attendeeId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>